.calendar_input {
	width:145px;
	height:26px;
}
.calendar_input::-ms-clear {display:none}
.magic_bar {width:100%;height:25px;background-color:rgb(0,55,105);/*#0057A5;/*rgb(76,93,113);*/margin-top:35px}
.radioLine {margin-top:5px;margin-bottom:5px}
