<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--<meta content="width=device-width, initial-scale=1" name="viewport" />-->
<!--<meta content="width=1000, initial-scale=1, maximum-scale=10, minimum-scale=0.01" name="viewport" />-->
<title>WestTel PSAP Reports</title>
<script type="text/javascript" src="/static/es5-shim.min.js"></script>
<script type="text/javascript" src="/static/json3.min.js"></script>
<script type="text/javascript" src="/static/js.cookie.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/static/jquery/jquery-1.12.3.min.js"></script>

<!--[if gte IE 8]><!-->
<script src="/static/jquery-ui-1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" href="/static/jquery-ui-1.11.4.custom/jquery-ui.min.css" />
<!--<![endif]-->
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/westtel.css" />
<style>
	body {
		margin: 0;
	}
	html, body {height:100%}
	#wrapper{min-height:100%;margin:0 auto -42px}

	header, footer, nav {display:block}
	.footer-page, .push {height:42px}

    .header-top{
        position: fixed;
        background:#fff;
        width: 100%;
	z-index:1;
        /*z-index: 501;*/
	height: 143px;
    }
    .header-top .logo-container {
        float: left;
    }
    .header-top .logo-container img{
        padding:0;
        display: block;
        width: auto;
        height: auto;
        max-height: 100%;
        image-rendering:auto;
        position: relative;
        z-index: 2;
        height : 100%\9; /*hack: fixes ie8 logo*/
        height: auto\9; /*hack: fixes ie8 squished logo*/
        -webkit-transition: opacity 0.4s ease-in-out;
        transition:opacity 0.4s ease-in-out;
    }
    .header-top .header-top-wrap{
        height: 143px;
        max-width: 1310px;
        clear: both;
        margin: 0 auto;
        padding: 0 50px;
        position: relative;
    }
    .header-top .nav-menu-header {
        clear: none;
        height: 100%;
        line-height: 30px;
        margin: 0;
        position: absolute;
        right: 0;
        z-index: 100;
    }
    .header-top .nav-menu-header .menu-header-wrap {
        float: left;
        position: relative;
        z-index: 3;
    }
    .header-top .nav-menu-header .menu-header-wrap ul{
        list-style: none outside;
	margin-top: 0;
        padding:0;
    }
   
    .header-top .nav-menu-header .menu-header-wrap ul li {
       float: left;
       position: relative;
       z-index: 20;
    }
    .header-top .nav-menu-header .menu-header-wrap ul li a{
       height: 143px;
       line-height: 143px;
       display: block;
       font-size: 13px;
       font-weight: 600;
       padding: 0 13px;
       text-decoration: none;
       color:#003669;
       border-bottom: 2px solid #fff;
       transition: background-color 0.4s ease-in-out 0s, color 0.4s ease-in-out 0s, border-color 0.8s ease-in-out 0s;
       font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;    
    }
    .header-top .nav-menu-header .menu-header-wrap ul li a:hover{
        border-bottom: 2px solid #003669;
    }
    .icon-menu{
        display: none;
        width: 46px;
        height: 46px;
        background: url("/static/icon-menu.png") 0 0 transparent no-repeat;
        border:none;
        float: right;
        cursor: pointer;
        margin-top: 10px;
    }
    .icon-menu:hover{
         background-position: 0 -46px;
    }
    .conten-main-e{
        padding-top:145px;
	/*min-height:500px;*/
    }
    .footer-page{
        width: 100%;
        background: #444444;
        clear: both;
    }
    .footer-page .footer-page-wrap{
        margin: 0 auto;
        padding: 15px 50px;
        position: relative;
        max-width: 1310px;
        font-size: 11px;
        color: #ffffff;
        font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
        
    }
    .menu-header-wrap {padding-right:50px}
	.header-top {position:static;padding-bottom:2px}
	.conten-main-e{padding-top:0}

@media only screen /*and (min-width: 320px)*/ and (max-width: 920px) {
	.menu-header-wrap{padding-right:0}
	.header-top .logo-container img {
            display: block;
            height: auto !important;
            max-height: 80px;
            max-width: 100%;
            width: auto;
        }
        .footer-page .footer-page-wrap {
            float: none;
            margin: 0 auto;
            max-width: 85%;
            padding-left: 0;
            padding-right: 0;
            width: 85%;
        }
        .header-top .header-top-wrap{
            float: none;
            margin: 0 auto;
            max-width: 85%;
            padding-left: 0;
            padding-right: 0;
            width: 85%;
            height: 0;
        }
        .icon-menu{
            display: block;
        }
        .header-top .nav-menu-header .menu-header-wrap {
            transition-property: all;
            transition-duration: 0.5s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            position: absolute;
            right: -600%;
            top: -600px;
        }
        
        .header-top .nav-menu-header{
            display: block; 
            width: 100%;
            background: #fff;
        }
        
        .header-top.show-menu .menu-header-wrap{
            background: #fff none repeat scroll 0 0;
            display: block;
            padding-top: 46px;
            right: 0;
            top: 0;
        }
        .header-top.show-menu .icon-menu{
            background-position: 0 -92px;
            position: absolute;
            right: 0;
            z-index: 200;
        }
        .header-top.show-menu .icon-menu:hover{
             background-position: 0 -138px;
        }
        .header-top .nav-menu-header .menu-header-wrap{
            float: none;
            margin: 0;
            width: 100%;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li {
            background: #fff;
            float: none;
            margin: 0 0 0 -9%;
            padding: 0;
            position: relative;
            width: 118%;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li a{
            border-bottom-style: solid;
            border-bottom-width: 1px;
            cursor: pointer;
            display: block;
            margin: 0;
            padding: 13px 28px;
            position: relative;
            text-decoration: none;
            width: 100%;  
            border-color: #e1e1e1;
            color: #666666;  
            height: auto;
            line-height:20px;
            font-weight: normal;
            font-size: 14px;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li.first-item{
             border-color: #e1e1e1;
             border-top-style: solid;
             border-top-width: 1px;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li a:hover{
            border-color: #e1e1e1;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            background-color: #003669;
            color: #ffffff;
        }
        .header-top .nav-menu-header .menu-header-wrap ul li a:before{
            content: "\25BA";
            position: absolute;
            top: 13px;
            margin-left: -10px;
            font-family: 'Arial';
            font-size: 7px;
        }
        /*.conten-main-e{
            padding-top: 80px!important;
            max-width: 90%;
            padding: 80px 5% 5% !important;
        }*/
}

@media print {
	#header {display:none}
	.conten-main-e{padding-top:0}
	.footer-page{background:white}
	.footer-page .footer-page-wrap{color:black}
}
</style>
</head>
<body>
	<div id="wrapper">
	<!-- was <header> (now <div> because of IE6-8) -->
	<div id="header" class="header-top">
		<div class="header-top-wrap"> 
		    <div class="logo-container">
			{{! TODO: serve image from westtel.com/some central place when they get https working }}
			<img width="300" height="100" alt="WestTel International" src="/static/WestTel-Logo-300x100.png" />
		    </div> 
		    <!-- was <nav> -->
		    <div class="nav-menu-header">
		       <!-- replaced with jQuery because of IE6-9? -->
		       <button class="icon-menu" onclick="$('#header').toggleClass('show-menu');"></button>
		       <div class="menu-header-wrap">
			    <ul id="menu-header">
				<li class="first-item">
				    <a href="http://westtel.com/">
					<span>Home</span>
				    </a>
				</li>
				<li class="">
				    <a href="http://westtel.com/about-westtel">
					<span>About WestTel</span>
				    </a>
				</li>
				<li class="">
				    <a href="http://westtel.com/contact">
					<span>Contact</span>
				    </a>
				</li>
				<li class="">
				    <a href="/">
					<span>Reporting & Metrics</span>
				    </a>
				</li>{{#if user}}
				<li class="">
					<a href="/logout">
						<span>Logout</span>
					</a>
				</li>{{/if}}
			    </ul>
			</div>
		    </div>
		</div>
	</div>
	<div class="conten-main-e" style="background-color:#F6F6F9">
		<div style="height:1px;background-color:#000;color:#000;margin:-1000;padding:1000;border:0"></div>
		<div style="margin:0 auto;max-width:1310px;background-color:white;padding: 40px 0 20px;height:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box">
		{{{body}}}
		</div>
	</div>
	<div class="push"></div>
	</div>
    <!-- was <footer> -->
    <div class="footer-page">
	<div class="footer-page-wrap">
	    <span class="copyright">&copy; Copyright 2016 - WestTel International | All Rights Reserved | 303-695-5000</span>
	</div>
    </div>
	<!-- this is a hack so that "page" effect will work and footer will be at bottom of page
	     also this only works at bottom of page... I don't know why -->
	<script type="text/javascript">
	$(document).ready(function(){
		function onresize() {
			$('.conten-main-e').css('height', $('#wrapper').height() - 188);
		}
		$(window).resize(onresize);
		onresize();
	});
	</script>
</body>
</html>
