<h1>Bcrypt Generation</h1>

<table style="margin:0 auto;font-size:25px"><tr><td>
{{#if bcrypt}}<p>bcrypt is <span style="font-family: monospace; color:blue">{{bcrypt}}</span></p>{{/if}}
<form method="post">
	<input type="hidden" name="_csrf" value="{{csrfToken}}" />
	<p>Password: <input type="password" name="password" autofocus="true" /></p>
	<p><input style="display:block;margin-left:auto;margin-right:0" type="submit" value="Bcrypt" /></p>
</form>
</td></tr></table>
