<h1>Login As (Superadmin Only!)</h1>
<h2>Use With Care</h2>

<table style="margin:0 auto;font-size:25px"><tr><td>
{{#if error}}<p style="color:red">{{error}}</p>{{/if}}
<form method="get">
	<p>Username: <input type="text" name="u" /></p>
	<p><input style="display:block;margin-left:auto;margin-right:0" type="submit" value="Login As" /></p>
</form>
</td></tr></table>
