<h1>{{psap_name}}</h1>
<h2>{{title}}</h2>
<h3>{{subtitle}}</h3>

<style>
#mainGraphDiv {
	/*display:block;*/
	margin-left:auto;
	margin-right:auto;
	margin-bottom:42px;
	margin-top:38px;
	/*outline:6px solid rgb(203,221,230);*/
	border:6px solid #0057A5;/*outline breaks in firefox for some reason*/
	padding:8px;
	background-color:#F6F6F9;
	max-width: 900px;
	min-width: 650px;
	width: 80%;
	width: 800px\9;/* for IE */
}
</style>

<div id="graph_json" style="display:none">{{graph_json}}</div>
<script type="text/javascript" src="js/print_report.min.js"></script>

{{#unless debug}}<!-- {{/unless}}<pre>{{debug_info}}</pre>{{#unless debug}} -->{{/unless}}
<div id="mainGraphDiv"></div>

<table style="margin-left: auto; margin-right: auto"><tr><td>
	<div style="font-size: 20px">SUMMARY</div>
	<table class="graph" style="border: none">
		{{#each table_title}}
		<tr class="footer">{{#each .}}<td>{{text}}</td>{{/each}}</tr>
		{{/each}}
		{{#each table_footer}}
		<tr class="true_footer">{{#each .}}<td{{#if warning_style}} style="color:red"{{/if}}>{{text}}</td>{{/each}}</tr>
		{{/each}}
		<tr style="border:none"><td colspan="{{table.0.length}}" style="border:none;padding:0;white-space:normal">
		<div style="margin-top:30px;font-size:20px;margin-bottom:15px">
			<div style="float: left;">DETAIL</div>
			{{#if csv_url}}<div id="downloadCSV" style="float:right;">
				<a style="text-decoration:none" href="{{csv_url}}">
					<img style="height:1.2em;vertical-align:middle;padding:0.1em;border:none" src="/static/download_arrow_bottom.png" alt="" />
					<span style="text-decoration:underline">Download CSV</span>
				</a>
			</div>{{/if}}
		</div>
		</td></tr>
		{{#if table_title}}
		{{#each table_title}}
		<tr class="footer">{{#each .}}<td>{{text}}</td>{{/each}}</tr>
		{{/each}}
		{{/if}}
		{{#each table}}
		<tr class="{{#if_odd @index}}greenbar_even{{else}}greenbar_odd{{/if_odd}}">{{#each .}}<td{{#if warning_style}} style="color:red"{{/if}}>{{text}}</td>{{/each}}</tr>
		{{/each}}
		{{#each table_footer}}
		<tr class="true_footer">{{#each .}}<td{{#if warning_style}} style="color:red"{{/if}}>{{text}}</td>{{/each}}</tr>
		{{/each}}
	</table>
</td></tr></table>
