<script type="text/javascript" src="js/report_chooser.min.js"></script>

<link rel="stylesheet" href="/static/css/report_chooser.css" />
<!--[if gte IE 9]><!-->
<link rel="stylesheet" href="/static/css/report_chooser_ie9.css" />
<!--<![endif]-->

<div id="centering_table" style="margin:0 auto;font-size:22px;width:830px">
<h1>MIS – Reporting & Metrics {{#if user.superadmin}} (Superadmin){{/if}}</h1>
<form method="get" action="/print_query">
	<input type="hidden" name="tz" value="user_tz" />
	<div class="magic_bar"></div>
	<div style="margin-left:15px;margin-right:15px;margin-top:10px">
		<div style="font-size: 65%;margin-bottom:2px">PSAP</div>
		<select id="psap_select" style="width:100%" name="psap">
			{{#each psap}}
			<option value="{{psap}}">{{#if ../user.superadmin}}{{psap}} | {{/if}}{{nice}}</option>
			{{/each}}
		</select>
	<table style="margin-top:10px">
		<tr style="font-size: 65%;">
			<td>TYPE</td>
			<td style="width:7px"></td>
			<td>DIRECTION</td>
			<td style="width:25px"></td>
			<td>FROM</td>
			<td style="width:7px"></td>
			<td>TO</td>
		</tr>
		<tr>
			<td>
				<select name='major_type' id='major_type' style="margin:auto;width:95px">
					<option value="911">9-1-1</option>
					<option value="admin">Admin</option>
					<option value="total">Total</option>
				</select>
			</td>
			<td></td>
			<td>
				<select name='minor_type' id='minor_type' style="width:375px">
					<option value="">Inbound Calls</option>
					<option value="t">Inbound PSAP Transfers</option>
				</select>
			</td>
			<td></td>
			<td>
				<input id="fromdate" class="calendar_input" maxlength="10" type="text" name="from" autocomplete="off" {{#if fromdate_def}}value="{{fromdate_def}}"{{/if}} />
			</td>
			<td></td>
			<td>
				<input id="todate" class="calendar_input" maxlength="10" type="text" name="to" autocomplete="off" {{#if todate_def}}value="{{todate_def}}"{{/if}} />
			</td>
		</tr>
		<tr>
			<td colspan="4"></td>
			<td colspan="3">
				<div id="daterange_error" style="color:red;font-size:80%"></div>
			</td>
		</tr>
	</table>
	</div>
	<div class="magic_bar" style="margin-top:30px"></div>
	<div style="margin-left:15px;margin-right:15px;padding-top:25px">


	<div style="margin-top:15px; font-size:0.8em">CALL COUNT</div>
	<hr style="height:0.8px; color:black; background-color:black" />

	<div class="radioLine">
		<input id="time_radio" type="radio" name="type" value="time" checked /><span data-w-clicksfor="time_radio">
		<span>Calls by</span>
		<select id="select_timeSplit" name="timeSplit" style="width:190px">
			<option value="HourOfDay">Hour of Day</option>
			<option value="DayOfWeek">Day of Week</option>
			<option value="week">Week</option>
			<option value="MonthOfYear">Month of Year</option>
		</select>
	</span></div>

	<div class="radioLine">
		<input id="position_radio" type="radio" name="type" value="position"><span data-w-clicksfor="position_radio">
		<span>Calls by Position</span>
	</span></div>

	<div class="radioLine">
	<input id="calltaker_radio" type="radio" name="type" value="calltaker"><span data-w-clicksfor="calltaker_radio">
		<span>Calls by Call-Taker</span>
	</span></div>

	<div id="div_cos" data-w-calltypes="911" class="radioLine">
	<input id="cos_radio" type="radio" name="type" value="cos" /><span data-w-clicksfor="cos_radio">
		<span>Calls by Class of Service</span>
	</span></div>
	
	<div id="div_costype" data-w-calltypes="911" class="radioLine">
	<input id="cos_type_radio" type="radio" name="type" value="cos_type" /><span data-w-clicksfor="cos_type_radio">
		<span>Calls by Class of Service Summary</span>
	</span></div>
	
	<div class="radioLine">
	<input id="trunk_radio" type="radio" name="type" value="trunk" /><span data-w-clicksfor="trunk_radio">
		<span>Calls by Trunk/Line</span>
	</span></div>

	<div style="margin-top:35px;font-size:0.8em">ANSWER TIME</div>
	<hr style="height:0.8px; color:black; background-color:black" />
		
	<div class="radioLine">
	<input id="aat_radio" type="radio" name="type" value="aat_time" /><span data-w-clicksfor="aat_radio">
		<span>Answer Time by</span>
		<select style="width:190px">
			<option value="HourOfDay">Hour of Day</option>
		</select>
	</span></div>	
	<div class="radioLine">
		<input id="aat_calltaker" type="radio" name="type" value="aat_calltaker" /><span data-w-clicksfor="aat_calltaker" />
			<span>Answer Time by Call-Taker</span>
		</span>
	</div>
</div>
	<div class="magic_bar" style="height:15px"></div>

	<div style="margin-top:15px;margin-right:15px;overflow:hidden"><input id="submit_button" style="display:block;float:right" type="submit" value="Create Report" /></div>
</form>
</div>
