body{font-family:HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif}

table, tbody, thead, tfoot, tr, td {padding:0}
table {border-spacing:0}

table.graph {
	border:2px solid black;
	border-collapse:collapse;
	text-align:center;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	margin-top:10px;
}

table.graph td {
	border:2px solid black;
	/*white-space:pre;*/
	padding:5px;
	vertical-align:top;
}

table.graph tr { border:2px solid black }

tr.footer { /*background-color:#97BBCD;*/ /*background-color:rgb(68,114,196);*/ background-color:rgb(0,55,105);color:white}
tr.true_footer {background-color:rgb(68,114,196);/*#0057A5;*/color:white}

.greenbar_even{ background-color:rgb(217,226,243); }
.greenbar_odd { background-color:rgb(255,255,255); }

@media print {
	/* because print (tends to) ignore background-color,
	 * we need to make the text black so that it's readable.
	 * We also change background-color in case it listens */
	tr.footer {background-color:white;color:black}
	tr.true_footer {background-color:white;color:black}
}

#mainGraph {
	/*width:800px;*/
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	margin-top:25px;
	outline:6px solid rgb(203,221,230);
	padding:8px;
}

h1, h2, h3 {
	text-align:center;
	margin:0;
}

h1 { font-size:41px;font-weight:normal}
h2 { font-size:26px; font-weight:normal;color:#666666;}
h3 { font-size:23px; font-weight:normal; padding-top:5px;color:#666666; }
h1 { font-family: 'Droid Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif }

input {
	font-size:100%; /* IE6 and 7 don't support 'inherit' */
	font-family:inherit;
}
select{font-size:1em;font-family:inherit;}

span.pretendDisabled { color:#999; }
.pretendDisabled select { color:#999; }
.pretendDisabled select:focus { color:initial; }

.pretendDisabled .ui-selectmenu-button {color:#CCC}

@media print {
	#pageHeader { display:none; }
	#downloadCSV { display:none; }
	img.graph { width:5in; }
	h2,h3{color:black}
	/*table.graph { font-size:10pt; }*/
	/*h1 { font-size:0.2in; }
	h2 { font-size:0.18in; }*/
}

/* jQuery UI stuff */
.ui-widget {font-size:1em;font-family:inherit;}
.ui-selectmenu-button span.ui-selectmenu-text {padding:5px 20px 5px 5px;}
.ui-selectmenu-button {vertical-align:middle}
.ui-state-default {font-weight:normal}
.ui-datepicker table {font-size:1em}
.ui-state-focus, .ui-widget-content .ui-state-focus{font-weight:normal}
.ui-selectmenu-menu .ui-menu {max-height:9.5em}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {margin:0}
