body { font-family: sans-serif; }

table.graph { border-style: solid;
	border-color: black;
	border-width: thin;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	/*width: 90%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.6em;
}

td.graph { border-style: solid;
	border-color: black;
	border-width: thin;
	white-space: nowrap;
}

tr.graph { border-color: black;
	border-width: thin;
}

tr.graph:nth-child(odd) { background-color: #97A0CC; }
tr.graph:nth-child(even) { background-color: #97CCC3; }

td.titles { background-color: #97bbcd;
	font-weight: bold;
}

img.graph { width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1, h2 { margin-bottom: 0.2em;
	text-align: center;
}

input { font-size: 1em; } /* IE6 and 7 don't support 'inherit' */
select { font-size: 1em; }

span.pretendDisabled { color: #999; }
.pretendDisabled select{ background-color: #DDD; color: #999; }
